#--------------------------------------------------------------------------- BIG
/ontology/imdb/*
/data/imdb/*
/ontology/*
/data/*
#--------------------------------------------------------------------------- ZIP
*.zip
#-------------------------------------------------------------------------- NODE
node_modules
paper
package-lock.json
#--------------------------------------------------------------------------- VIM
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim

# Temporary
.netrwhist
*~
# Persistent undo
[._]*.un~
