body, html {
    margin: 0;
    overflow: hidden;
    height:100%;
}

#left {
    left: 0%;
    width: 50%;
    background-color: #50FF50;
}

#right {
    left: 50%;
    width: 50%;
    background-color: #5050FF;
}

#left, #right{
    position: absolute;
    height:100%;
    overflow-y: scroll; 
}
